<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>salesapp-cms-web</display-name>

	<!-- Pierwszy urchomiony plik po wejściu na host:port/gbk-forntend -->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Sesja ustawiona na 20 minut, flagi dla bezpieczeństwa: secure i http-only -->
	<session-config>
		<session-timeout>20</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <!--
           <secure>true</secure>
           -->
       </cookie-config>
       <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>
            org.primefaces.webapp.filter.FileUploadFilter
        </filter-class>
        <init-param>
            <param-name>thresholdSize</param-name>
            <param-value>51200</param-value>
        </init-param>
        <init-param>
            <param-name>uploadDirectory</param-name>
            <param-value>/tmp</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>

	<!-- Omnifaces - ustawienie UTF-8 podczas renderowania -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.omnifaces.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


    <!-- Clickjacking filter -->
    <filter>
        <filter-name>ClickjackingFilterDeny</filter-name>
        <filter-class>pl.cherrypick.cms.filter.ClickjackingFilter</filter-class>
        <init-param>
            <param-name>mode</param-name>
            <param-value>DENY</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>ClickjackingFilterDeny</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Error pages -->
    <error-page>
        <error-code>403</error-code>
        <location>/errors/403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.xhtml</location>
    </error-page>


	<!-- Poziom rozwoju projektu -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>

	<!-- Wygaśnięcie sesji, wyjątek rzucony podczas operacji AXAJ, przekierowanie 
		na index.xhtml -->
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/index.xhtml</location>
	</error-page>

	<!-- Puste stringi w JSF traktowane są jako wartości NULL, pomocne dla walidatorów -->
	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Servlet przetwarzający JSF -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>


	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>SalesAppCmsSD</realm-name>
		<form-login-config>
			<form-login-page>/index.xhtml</form-login-page>
			<form-error-page>/index.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>ADMIN</role-name>
	</security-role>
	<security-role>
		<role-name>AGENT</role-name>
	</security-role>
    <security-role>
        <role-name>AEGON ACTIVE</role-name>
    </security-role>
    <security-role>
        <role-name>AGENT PREMIUM</role-name>
    </security-role>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secured pages</web-resource-name>
			<url-pattern>/pages/user/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ADMIN</role-name>
			<role-name>AGENT</role-name>
            <role-name>AEGON ACTIVE</role-name>
            <role-name>AGENT PREMIUM</role-name>
		</auth-constraint>
	</security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured pages meeting</web-resource-name>
            <url-pattern>/pages/meeting/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
            <role-name>AGENT</role-name>
            <role-name>AEGON ACTIVE</role-name>
            <role-name>AGENT PREMIUM</role-name>
        </auth-constraint>
    </security-constraint>


    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured pages data</web-resource-name>
            <url-pattern>/pages/application_data/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured pages area question</web-resource-name>
            <url-pattern>/pages/area_question/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured pages product category</web-resource-name>
            <url-pattern>/pages/product_category/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>server</param-value>
    </context-param>

</web-app>
